dialog-screen{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 5;
	background-color: rgba(153, 204, 221, 0.7);
}

dialog-screen .screen{
	position: absolute;
	height: 220px;	
	width: 250px;
	background-color: white;
	border: 2px solid #004488;
	top: calc(50% - 110px);
	left: calc(50% - 125px);
}

dialog-screen .title{
	position: absolute;
	height: 50px;
	width:100%;
	top: 0px;
	padding: 10px 10px 10px 10px;
	font: 200px;
	color: white;
	background-color: #004488;	
}

dialog-screen .message {
	position: absolute;
	height: 300px;
	top: 50px;
	width: 100%;
	padding: 50px 50px 50px 50px;
	color: #004488;
}