report-details {
	padding: 45px;
}

report-details .test {
	position: relative;
	height: 130px;
	width: 100%;
	background-color: #004488;
	padding: 10px;
	border: 2px solid white;
	margin-top: 10px;
}

report-details td {
	color: white;
	max-width: 450px;
	word-break: break-all;
}