<div class="row">
	<div class="col-sm-6">
		<div class="datagrid">
			<table>
				<thead>
					<tr>
						<th colspan="2" style="text-align: center;">Tests</th>
					</tr>
					<tr>
						<th>Name</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="test in manageTestList" ng-class-even="'alt'" ng-click="deleteTest(test.id)">
						<td>
							{{test.name}}
						</td>
						<td>
							{{test.created_at}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="datagrid">
			<table>
				<thead>
					<tr>
						<th colspan="2" style="text-align: center;">Reports</th>
					</tr>
					<tr>
						<th>Name</th>
						<th>N. Reports</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="report in manageReportList" ng-class-even="'alt'" ng-click="deleteReport(report.id)">
						<td>
							{{report.name}}
						</td>
						<td>
							{{report.reports}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>